.recipe-page-wrapper {
  width: 70%;
  margin: 0 auto;
}

.recipe-images {
  margin-top: 1em;
  outline: 1px solid black;
  width: 100%;
  height: 300px;
}

.recipe-info-wrapper {
  display: flex;
  justify-content: center;
  margin: 6em auto 2em auto;
  border: 2px solid #0FA3B1;
  border-radius: 3px;
  width: 50%;
}

.recipe-cook-time,
.recipe-servings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.recipe-cook-time p {
  margin: 0;
  padding: 0;
  margin-left: 0.5em;
}

.recipe-servings p {
  margin-left: 0.5em;
}


.recipe-ingredients-wrapper {
  display: flex;
  flex-flow: column wrap;
  max-width: 400px;
  margin: 0 auto;
}

.recipe-ingredients-wrapper h2 {
  border-left: 5px solid #0FA3B1;
  border-right: 5px solid #0FA3B1;
  border-radius: 3px;
}

.recipe-ingredients-table td {
  padding: 0.5em;
}

.recipe-ingredients-table tr:nth-child(even) {

}

.recipe-directions-wrapper {
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

.recipe-directions-wrapper h2 {
  border-left: 5px solid #0FA3B1;
  border-radius: 3px;
  padding-left: 5px;
}

.recipe-directions-list {
  text-align: left;
}

.recipe-directions-list li {
  padding: 0.5em;
}

.seperator {
  border-top: 1px solid #0FA3B1;
  width: 50%;
  margin: 5em auto;
}
