.header {
  width: 100%;
  background-color: #3a3a3a;
  font-family: 'Noto Sans', sans-serif;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 5% 30% 65%;
  grid-column: 1/4;
  width: 80%;
  margin: 0 auto;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}

.logo-link {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 3em;
  color: #f0f0f0;
  letter-spacing: 0.2em;
  font-style: italic;
  transition-timing-function: ease-out;
  transition-duration: 0.3;
}

.logo:hover {
  animation: example 3s 1;
  color: #0FA3B1;
}

@keyframes example {
  0%   {color: #f0f0f0;}
  25%  {color: #5eb4bd;}
  50%  {color: #3cafba;}
  100% {color: #0FA3B1;}
}
