.nav {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 80%;
}

.nav-item {
  display: flex;
  font-size: 1.5em;
  margin: 0 0.5em;
}

.nav-link {
  padding: 0.5em 0.5em;
  text-decoration: none;
  color: #f0f0f0;

}

.nav-link:hover {
  background-color: #dadada;
  color: #3a3a3a;
  border-radius: 3px;
}
