.nav {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 80%;
}

.nav-item {
  display: flex;
  font-size: 1.5em;
  margin: 0 0.5em;
}

.nav-link {
  padding: 0.5em 0.5em;
  text-decoration: none;
  color: #f0f0f0;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #0FA3B1;
  color: #3a3a3a;
  border-radius: 3px;
  opacity: 0.8;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

.nav-link:focus {
  outline: none;
  text-decoration: underline;
}
